{% extends 'base.html' %}
{% block head %}
<title>目次</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" type="text/css">

{% endblock %}

{% block body %}
<h1> 目次</h1>

<a href="/create" class="btn-lg btn-info" role="button">投稿する</a>
<a href="/logout" class="btn-lg btn-info" role="button">ログアウト</a>
<p></p>
<div class="container" style="width: 70%;">
    {% for post in posts %}
    <div class="card border-dark mb-3" style="max-width: 60rem;">
      <h5 class="card-header">日付：{{ post.post_date.strftime('%Y/%m/%d') }}</h5>
        
      <div class="card-body">
        <p class="card-text">記録者：{{post.user}}</p>
        <a role="button" href="/detail/{{ post.id }}" class="btn-lg btn-secondary">詳細</a>
      </div>
      <!--<form action="/arrange/{{ post.id }}" method="POST">
        <div align="right">
          <button type="submit"  class="btn btn-primary">編集する</button>
        </div>
      </form>
      -->
      <div align="right">
        <a role="button" href="/arrange/{{ post.id }}" class="btn btn-primary">編集する</a>
      </div>
  </div>
  <p></p>
  {% endfor %}

</div>
{% endblock %}