{% extends 'base.html' %}

{% block body %}
<h1>練習記録</h1>

<div class="container">
    <form action="/" method="POST">
        <!-- <p>日付(date)の入力欄</p> -->
        <p>日付：<input type="date" name="post_date" value="{{datenow.date()}}"></p>
    
        <!-- <p>名前(user)とタイトル(title)の入力欄</p> -->
        <div style="display:inline-flex">
            <label for=""><nobr>名前</nobr></label>
            <input class="form-control" name="user" type="text" placeholder="名前" aria-label="default input example">
        </div>
        <div style="display:inline-flex">
            <label for=""><nobr>体重</nobr></label>
            <input class="form-control" name="weight" type="text" placeholder="体重" aria-label="default input example">
        </div>
        <div style="display:inline-flex">
            <label for=""><nobr>朝食</nobr></label>
            <input class="form-control" name="breakf" type="text" placeholder="朝食" aria-label="default input example">
        </div>
        <div style="display:inline-flex">
            <label for=""><nobr>昼食</nobr></label>
            <input class="form-control" name="lunch" type="text" placeholder="昼食" aria-label="default input example">
        </div>
        <div style="display:inline-flex">
            <label for=""><nobr>夕食</nobr></label>
            <input class="form-control" name="dinner" type="text" placeholder="夕食" aria-label="default input example">
        </div>
<!--
        <div style="display:inline-flex">
            <p>健康状態　</p>
            <div class="form-check form-check-inline" >
            <input class="form-check-input" type="radio" name="health" id="Radio1" value="good">
            <label class="form-check-label" for="inlineRadio1">良</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="health" id="Radio2" value="normal">
            <label class="form-check-label" for="inlineRadio2">普</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="health" id="Radio3" value="bad">
            <label class="form-check-label" for="inlineRadio3">悪</label>
            </div>
        </div>

        <div>
            <label>体温・指標</label>
        </div>
        
        <ul>
            <li style="display: flex;">
                <nobr><label>起床時</nobr></label>
                <input class="form-control" name="wake_temp" id="wake_temp" type="number" step="0.1" value="36.0" min="0.0" max="45.0">
                <input type="range" class="form-range" min="-5" max="5" id="sihyo1">
                <div id="sihyovalue1" style="min-width: 10rem;">0</div>
            </li>
            <li style="display: flex;">
                <nobr><label>練習前</nobr>
                <input class="form-control" name="before_temp" id="before_temp" type="number" step="0.1" value="36.0" min="0.0" max="45.0">
                <input type="range" class="form-range" min="-5" max="5" id="sihyo2" >
                <div id="sihyovalue2" style="min-width: 10rem;">0</div></li>
            <li style="display: flex;">
                <nobr><label>準備後</nobr>
                <input class="form-control" name="warm_temp" id="warm_temp" type="number" step="0.1" value="36.0" min="0.0" max="45.0">
                <input type="range" class="form-range" min="-5" max="5" id="sihyo3">
                <div id="sihyovalue3" style="min-width: 10rem;">0</div>
            </li>
            <li style="display: flex;">
                <nobr><label>練習後</nobr>
                <input class="form-control" name="after_temp" id="after_temp" type="number" step="0.1" value="36.0" min="0.0" max="45.0">
                <input type="range" class="form-range" min="-5" max="5" id="sihyo4">
                <div id="sihyovalue4" style="min-width: 10rem;">0</div>
            </li>
            <li style="display: flex;">
                <nobr><label>就寝時</nobr>
                <input class="form-control" name="bed_temp" id="bed_temp" type="number" step="0.1" value="36.0" min="0.0" max="45.0">
                <input type="range" class="form-range" min="-5" max="5" id="sihyo5">
                <div id="sihyovalue5" style="min-width: 10rem;">0</div>
            </li>
        </ul>
-->
        <!-- <p>投稿内容(detail)三行に設定</p> -->
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">練習内容</label>
            <textarea class="form-control"  name="detail" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        
        <!-- <p>戻るボタンと投稿するボタン (hrefで’／’に戻ることを指定)<link rel="stylesheet" href="popup.css"></p> -->
        <a href="/" class="btn btn-outline-success">戻る</a>
        <button type="submit" class="btn btn-success">投稿する</button>
    </form>

</div>

<!--指標の値を操作に応じて変化させる-->
<script>
  /*
    var elem1 = document.getElementById('sihyo1');
    var target1 = document.getElementById('sihyovalue1');
    var rangeValue = function (elem1, target1) {
      return function(evt){
        target1.innerHTML = elem1.value;
      }
    }
    elem1.addEventListener('input', rangeValue(elem1, target1));

    var elem2 = document.getElementById('sihyo2');
    var target2 = document.getElementById('sihyovalue2');
    var rangeValue = function (elem2, target2) {
      return function(evt){
        target2.innerHTML = elem2.value;
      }
    }
    elem2.addEventListener('input', rangeValue(elem2, target2));

    var elem3 = document.getElementById('sihyo3');
    var target3 = document.getElementById('sihyovalue3');
    var rangeValue = function (elem3, target3) {
      return function(evt){
        target3.innerHTML = elem3.value;
      }
    }
    elem3.addEventListener('input', rangeValue(elem3, target3));

    var elem4 = document.getElementById('sihyo4');
    var target4 = document.getElementById('sihyovalue4');
    var rangeValue = function (elem4, target1) {
      return function(evt){
        target4.innerHTML = elem4.value;
      }
    }
    elem4.addEventListener('input', rangeValue(elem4, target4));

    var elem5 = document.getElementById('sihyo5');
    var target5 = document.getElementById('sihyovalue5');
    var rangeValue = function (elem5, target5) {
      return function(evt){
        target5.innerHTML = elem5.value;
      }
    }
    elem5.addEventListener('input', rangeValue(elem5, target5));

*/
</script>

{% endblock %}